<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>社团成员</title>
       

        </style>
    </head>
    <body>
    <p>简陋版，测试用</p>

    {%if len(pronounces) == 0%}
    无公告
    {%endif%}
    {%for pronounce in pronounces%}
    <p>pronounce</p>
    {%endfor%}
    
    {%if ismanger%}
    {% csrf_token %}
    <form action="../addpronounce/" method="POST">
        <input type="text" name="{{org_name}}" style="display: none"><br>
        公告内容<input type="textarea" name="pronounce">
        <button type="submit">提交</button>
    </form>
    {%endif%}
    </body>
</html>