<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>社团成员</title>
       

        <style></style>
    </head>
    <body>
    <p>简陋版，测试用</p>
    {%if not have_announcement %}
    无公告
    {%endif%}
    <table>
        {%for announcement in announcements%}
        <tr>
            <td>{{announcement.title}}</td>
            <td>{{announcement.content}}</td>
            <td>{{announcement.date}}</td>
        </tr>
        {%endfor%}
    </table>
    
    
    {%if ismanager%}
    <form action="../addannouncement/" method="POST">
        {% csrf_token %}
        <input type="text" name="org_name" value="{{ org_name }}" style="display: none"><br>
        公告标题<input type="textarea" name="announcement_title">
        公告内容<input type="textarea" name="announcement_content">
        <button type="submit">提交</button>
    </form>
    {%endif%}
    </body>
</html>