<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{org_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">

    <style type="text/css">
       .table
        {
            width: 700px;
            position: relative;
            color:black;
            left: 100px;
            font-size: 20px;
            margin: 0px 200px;
        }
        .col1
        {
            width: 200px;
        }

    </style>
  </head>
  <body>
      <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../index/" title="">Pikachu</a>
            </div>
    
            <div id="navbar-collapse" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="../index/">Home</a></li>
            
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的社团</a>
                        <ul class="dropdown-menu">
                          <li><a href="../searchclub/">加入社团</a></li>
                          <li><a href="../createclub/">创建社团</a></li>
                          <li><a href="../myclub/">管理社团</a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心</a>
                        <ul class="dropdown-menu">
                          <li><a href="../userpage/">我的信息</a></li>
                          <li><a href="../updateuserinfo/">修改信息</a></li>
                          <li><a href="">修改密码</a></li>
                        </ul>
                      </li>
                <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>

    <!--左侧导航-->
    <div class="navbar-left">
        <div class="userbox">
            <!--<a href="../updateuserinfo/" class="probootstrap-team"></a>-->
            <img src="..{{MEDIA_URL}}{{org_logo}}" alt="" class="avatar">
            <!--<div class="probootstrap-team-info">
                <h3>修改头像</h3>
              </div>-->
            <br>
            <span class="username">{{ org_name }}</span>
        </div>
    <div style="position: relative;top:150px;">
            <ul class="nav nav-pills nav-stacked" >

              <!--是否是社团管理人-->
              {% if ismaster %}
              <li class="active"><a href="../clubpage/?iden={{org_name}}">社团信息</a></li>
              <li><a href="../clubmembers/?iden={{orgname}}">社团成员</a></li>
              <li><a href="../clubactivities/?iden={{org_name}}">社团活动</a></li>
              <li><a href="../clubannounce/?iden={{org_name}}">发布公告</a></li>
              <li><a href="../createclub/">创建社团</a></li>
              <li><a href="../searchclub/">查找社团</a></li>
              {% else %}
              <li class="active"><a href="../clubpage/?iden={{org_name}}">社团信息</a></li>
              <li><a href="../clubmembers/?iden={{orgname}}">社团成员</a></li>
              <li><a href="../clubactivities/?iden={{org_name}}">社团活动</a></li>
              <li><a href="../createclub/">创建社团</a></li>
              <li><a href="../searchclub/">查找社团</a></li>
              <!--<li><a href="#">活动申请</a></li>
              <li><a href="#">修改密码</a></li>-->
              {% endif %}
            </ul>
    </div>
</div>

    
    
    <div class="contextbox">
        <table class="table ">
            <thead>
                <td colspan="2"><h1>社团信息</h1></td>
                
            </thead>
            <tbody>
                <tr>
                    <td class="col1">社团名称：</td>
                    <td class="col2">{{ org_name }}</td>
                </tr>
                <tr>
                    <td class="col1">当前会长：</td>
                    <td class="col2">{{ org_master }}</td>
                </tr>
                <tr>
                    <td class="col1">创建者：</td>
                    <td class="c0l2">{{ creator }}</td>
                </tr>
                <tr>
                    <td class="col1">创建时间：</td>
                    <td class="col2">{{ create_date }}</td>
                </tr>
                <tr>
                    <td class="col1">社团人数：</td>
                    <td class="col2">{{ member_num }}</td>
                </tr><tr>
                    <td class="col1">社团描述：</td>
                    <td class="col2">{{ org_description }}</td>
                </tr>
                <!--<tr>
                    <td colspan="2">
                        <a class="btn btn-ghost" href = "../updateuserinfo">修改个人信息</a>
                    </td>
                </tr>-->
                <tr>
                    <td colspan="2">
                    <br>
                    {% if isjoin %}
                    <a class="btn btn-ghost" href="../quitclub/?iden={{org_name}}">退出社团</a>
                    {% else %}
                    <a class="btn btn-ghost" href="../joinclub/?iden={{org_name}}">加入社团</a>
                    {{error}}
                    {% endif %}
                  </td>
                </tr>
            </tbody>
        </table>
        

    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
  </body>
</html>

