<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
        <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <style type="text/css">

        </style>
    </head>
    <body>
        <!--背景图-->
        <div class = "bk">
            <img src="../static/pictures/bk.jpg" class="bkimg">
        </div>
        <!--导航栏-->
        <div>
            <div class="nav_menu box">
                <div class="backbutton menuitem">主页</div>
                <div class="menuitem">
                    <div>menuiten</div>
                    <div class="submenu"><a href="#">submenu</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                </div>
                <div class="menuitem">menuitem</div>
            </div>
        </div>
        <!--内容显示-->
        
        <!--中：搜索框之类-->
        <div class="box"></div>
        <!--下：内容显示-->
        <div class="box showbox">

        </div>
    </body>
</html>