<!DOCTYPE html>
<html>
    <head>
        <title>学生社团管理平台</title>
        <style type="text/css">
        a
        {
            text-decoration: none;
        }
        .box
        {
            width: 1180px;
            margin: auto;
        }
        .menuitem .submenu
        {
        display: none;
        }
        .menuitem:hover .submenu
        {
        display: block;
        }
        </style>
    </head>

    <body>
        <!--导航栏-->
        <div class="navbar" >
            <div class="box" style="height: 21px;background-color: gold">
                <div style="width: 360px;float: left;">学生社团管理平台</div>
                <div style="width: 200px;float: right;">
                    {% if name != none  %}
                    {#name变量传用户名，未登录则为空#}
                        <!--我的社团下拉菜单-->
                        <div class="menuitem" style="float: left;margin-right: 10px">
                            <div>我的社团</div>
                            <div class="submenu" style="float: left;">
                                <div><a href="../searchclub">加入社团</a></div>
                                <div><a href="../creatclub">创建社团</a></div>
                                <div><a href="#">管理社团</a></div>
                            </div>
                        </div>
                    
                        <div><a href="../userpage">我的主页</a></div>
                    {% else %}
                        <a href="../register">注册</a>
                        <a href="../login">登录</a>
                        
                    {% endif %}
                </div>
            </div>
        </div>

        <!--展示部分-->
        <div class="showbox">
            <div class="box">
                <h1>精彩活动剪影</h1>
               
                    <img src="#" style="width: 200px"> 
                    <img src="#" style="width: 200px"> 
                    <img src="#" style="width: 200px"> 
                    <img src="#" style="width: 200px"> 
                    <img src="#"> 
                    <img src="#"> 
                    <img src="#"> 
                
                
            </div>
        </div>

        <!--公告部分-->
        <div class="noticbox">
            <div class="box">
                <h1>公告栏</h1>
                <p>公告1</p>
                <p>公告2</p>
                <p>公告3</p>
            </div>
        </div>
    </body>
</html>