<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>学生社团管理平台</title>
        <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/imgplay.css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <style type="text/css">
            .td1
            {
                width: 900px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.6);
                overflow: hidden;
            }
            .td2
            {
                width: 260px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.6);
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <!--背景图-->
        <div class = "bk">
            <img src="../static/pictures/bk.jpg" class="bkimg">
        </div>
        <!--导航栏-->
        <div>
            <div class="nav_menu box">
                
                {% if islogin  %}
                {#name变量传用户名，未登录则为空#}
                <!--我的社团下拉菜单-->
                <div class="menuitem">
                    <div>我的主页</div>
                    <div class="submenu"><a href="../userpage">个人信息</a></div>
                    <div class="submenu"><a href="../logout">登出</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                </div>
                <div class="menuitem">
                    <div>我的社团</div>
                    <div class="submenu"><a href="../searchclub">加入社团</a></div>
                    <div class="submenu"><a href="../creatclub">创建社团</a></div>
                    <div class="submenu"><a href="#">管理社团</a></div>
                    <div class="submenu"><a href="#">submenu</a></div>
                </div>
                {% else %}
                <div class="menuitem"><a href="../register">注册</a></div>
                <div class="menuitem"><a href="../login">登录</a></div>
                {% endif %}
            </div>
        </div>
        <!--内容显示-->
        
        <!--展示台-->
        <div class="box">
            <div class="frame">
                <div class="container">
                        <img src="../static/pictures/pikachu1.jpg">
                        <img src="../static/pictures/pikachu5.jpg">
                        <img src="../static/pictures/pikachu7.jpg">
                </div>
            </div>
            
        </div>
        <!--公告-->
        <div class="box showbox" style="height: 400px;margin-top:430px">
            <table class="notic" style="position: absolute;top: 10px;left: 10px;border: solid 1px ;width: 1160px;">
                <tr>
                    <td  colspan="2" style="height: 50px; width: 500px;background-color: rgba(245, 198, 198, 0.8)"><span style="font-size: 30px; color: red">公告栏</span></td>
                    
                </tr>
                <tr>
                    <td class="td1" "><a href={{notic_url1}}>{{notic_title1}}</a></td>
                    <td class="td2">{{notic_date1}}</td>
                </tr>
                <tr>
                    <td class="td1"><a href={{notic_url2}}>{{notic_title2}}</a></td>
                    <td class="td2">{{notic_date2}}</td>
                </tr>
                <tr>
                    <td class="td1"><a href={{notic_url3}}>{{notic_title3}}</a></td>
                    <td class="td2">{{notic_date3}}</td>
                </tr>
                <tr>
                    <td class="td1"><a href={{notic_url4}}>{{notic_title4}}</a></td>
                    <td class="td2">{{notic_date4}}</td>
                </tr>
                <tr>
                    <td class="td1"><a href={{notic_url5}}>{{notic_title5}}</a></td>
                    <td class="td2">{{notic_date5}}</td>
                </tr>
                <tr>
                    <td class="td1"><a href={{notic_url6}}>{{notic_title6}}</a></td>
                    <td class="td2">{{notic_date6}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>