<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>
	  PKC主页
	  </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700">-->
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    
    
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index" title="uiCookies:Inspire">Inspire</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
			
		{% if islogin  %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../index">Home</a></li>

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的社团</a>
              <ul class="dropdown-menu">
                <li><a href="../searchclub">加入社团</a></li>
                <li><a href="../creatclub">创建社团</a></li>
                <!--按钮保留
				<li class="dropdown-submenu dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                  </ul>
                </li>-->
                <li><a href="">管理社团</a></li>
                <!--按钮保留
				<li><a href="pricing.html">Pricing</a></li>-->
              </ul>
            </li>
            
			<li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心</a>
              <ul class="dropdown-menu">
                <li><a href="../userpage">我的信息</a></li>
                <li><a href="../updateuserinfo">修改信息</a></li>
                <!--按钮保留
				<li class="dropdown-submenu dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                  </ul>
                </li>-->
                <li><a href="">修改密码</a></li>
                <!--按钮保留
				<li><a href="pricing.html">Pricing</a></li>-->
              </ul>
            </li>
			  
            <li class="probootstra-cta-button"><a href="../logout">Log out</a></li>
            <!--<li class="probootstra-cta-button"><a href="../logout" class="btn" data-toggle="modal" data-target="#loginModal">Log out</a></li>-->
          </ul>
			
		{% else %}
			<ul class="nav navbar-nav navbar-right">
            <li><a href="../index">Home</a></li>
<!--
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="team.html">Team</a></li>
                <li class="dropdown-submenu dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                    <li><a href="#">Second Level Menu</a></li>
                  </ul>
                </li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="pricing.html">Pricing</a></li>
              </ul>
            </li>
            <li><a href="contact.html">个人中心</a></li>
-->
            <li class="probootstra-cta-button"><a href="../login">Log in</a></li>
            <li class="probootstra-cta-button last"><a href="../register">Sign up</a></li>
            <!--<li class="probootstra-cta-button"><a href="../login" class="btn" data-toggle="modal" data-target="#loginModal">Log in</a></li>
            <li class="probootstra-cta-button last"><a href="../register" class="btn btn-ghost" data-toggle="modal" data-target="#signupModal">Sign up</a></li> --> 
          </ul>
			
		{% endif %}
			
        </div>
      </div>
    </nav>
	  
	  <section class="probootstrap-hero probootstrap-xs-hero probootstrap-hero-colored">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-left probootstrap-hero-text">
            <h1 class="probootstrap-animate" data-animate-effect="fadeIn">Contact Us</h1>
            <p class="probootstrap-animate" data-animate-effect="fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
      </div>
    </section>
	  
	  <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
            <h2>Drop us a line</h2>
            <form action="#" method="post" class="probootstrap-form">
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject">
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Submit Form">
              </div>
            </form>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate" data-animate-effect="fadeIn">
            <h2>Get in touch</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
            
            <h4>USA</h4>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-pin"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
              <li><i class="icon-email"></i><span>info@domain.com</span></li>
              <li><i class="icon-phone"></i><span>+123 456 7890</span></li>
            </ul>
            
            <h4>Europe</h4>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-pin"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
              <li><i class="icon-email"></i><span>info@domain.com</span></li>
              <li><i class="icon-phone"></i><span>+123 456 7890</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
	  
	  
	  
	  
<!--Modal login -->
 <!--   <div class="modal fadeInUp probootstrap-animated" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cross"></i></button>
            <div class="probootstrap-modal-flex">
              <div class="probootstrap-modal-figure" style="background-image: url(img/modal_bg.jpg);"></div>
              <div class="probootstrap-modal-content">
                <form action="#" class="probootstrap-form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                  </div> 
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                  </div> 
					
					
                  <div class="form-group clearfix mb40">
					  忘记密码，记住用户
                    <label for="remember" class="probootstrap-remember"><input type="checkbox" id="remember"> Remember Me</label>
                    <a href="#" class="probootstrap-forgot">Forgot Password?</a>

                  </div>

                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Sign In">
                      </div>
                    </div>
                  </div>
                  <div class="form-group probootstrap-or"> </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12"> </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>-->
    <!-- END modal login -->
    
    <!-- Modal signup -->
  <!--   <div class="modal fadeInUp probootstrap-animated" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cross"></i></button>
            <div class="probootstrap-modal-flex">
              <div class="probootstrap-modal-figure" style="background-image: url(img/modal_bg.jpg);"></div>
              <div class="probootstrap-modal-content">
                <form action="#" class="probootstrap-form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                  </div> 
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                  </div> 
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re-type Password">
                  </div> 
                  <div class="form-group clearfix mb40">
					  
					
                    <label for="remember" class="probootstrap-remember"><input type="checkbox" id="remember"> Remember Me</label>
                    <a href="#" class="probootstrap-forgot">Forgot Password?</a>

                  </div>
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
                      </div>
                    </div>
                    
                  </div>
                  <div class="form-group probootstrap-or"> </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12"> </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- END modal signup -->


    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
  </body>
</html>