<!DOCTYPE html>
<html lang="en">
  <head>
    <title>活动中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
         .table
        {
            width: 1000px;
            position: relative;
            color:black;    
            
        }
        .td1
        {
            width: 300px;
        }
        .td2
        {
            width:300px;
        }
        .td3
        {
            width: 100px;
        }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="../index/">Home</a></li>
            
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的社团</a>
                <ul class="dropdown-menu">
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../myclub/">管理社团</a></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心</a>
                <ul class="dropdown-menu">
                  <li><a href="../userpage/">我的信息</a></li>
                  <li><a href="../updateuserinfo/">修改信息</a></li>
                  <li><a href="../passwd/">修改密码</a></li>
                </ul>
              </li>
            <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost" >Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo/">
                <img src="..{{MEDIA_URL}}{{user_logo}}" alt="" class="avatar" id="photo2">
                </a>
                <br>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li ><a href="../userpage/">个人信息</a></li>
                  <li><a href="../myclub/">我的社团</a></li>
                  <li><a href="../mybulletin/">公告通知</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li class="active"><a href="../myactivity/">活动中心</a></li>
                  <li><a href="../passwd/">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
        <div class="page-header" style="margin-left: 150px">
        <h1>我的活动</h1>  

      </div>
      <div class="panel-group" id="accordion" style="margin-left: 150px;width: 1000px">

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseOne">
                      我参加的活动
                      </a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <table class="table">
                        <thead>
                                {%if not hasjoinedactivity%}
                                还没有参加任何活动
                                {% else %}
                                <tr>
                                        <td class = "td1">活动名称</td>
                                        <td class = "td2">主持社团</td>
                                        <td class = "td3">活动日期</td>
                                          <td>
                                          </td>
                                    </tr>
                                {%endif%}
                        </thead>
                          {%for joinedactivity  in joinedactivities%}
                          <tr>
                              <td class = "td1">{{joinedactivity.name}}</td>
                              <td class = "td2">{{joinedactivity.org_name}}</td>
                              <td class = "td3">{{joinedactivity.date}}</td>
                                <td>
                                <a class="btn btn-ghost" data-toggle="modal" data-target="#activitydetails" onclick="get_activity_details('{{activity_id}}');">查看详情</a>
                                <a class="btn btn-ghost" href="#">退出活动</a>
                                </td>
                          </tr>
                          {%endfor%} 
                      </table>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseTwo">
                      我可以参加的活动
                  </a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                    <table class="table">
                            <thead>
                                    {%if not hasactivity%}
                                    还没有任何活动
                                    {% else %}
                                    <tr>
                                            <td class = "td1">活动名称</td>
                                            <td class = "td2">主持社团</td>
                                            <td class = "td3">活动日期</td>
                                              <td>
                                              </td>
                                        </tr>
                                    {%endif%}
                            </thead>
                              {%for activity  in activities%}
                              <tr>
                                  <td class = "td1">{{activity.name}}</td>
                                  <td class = "td2">{{activity.org_name}}</td>
                                  <td class = "td3">{{activity.date}}</td>
                                    <td>
                                    <a class="btn btn-ghost" data-toggle="modal" data-target="#activitydetails" onclick="get_activity_details('{{activity_id}}');">查看详情</a>
                                    <a class="btn btn-ghost" href="#">参加活动</a>
                                    </td>
                              </tr>
                              {%endfor%} 
                          </table>
                  
              </div>
              </div>
          </div>
          
      </div>
    </div>

<!-- 活动详情（Modal） -->
<div class="modal fade" id="activitydetails" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">活动详情</h4>
          </div>
          <div class="modal-body">
            <form class="form">
              {% csrf_token %}
              活动主题：<input type="text" class="form-control"id = "theme_detail" readonly = "readonly">
              申请社团：<select id="org_detail" class="form-control" readonly = "readonly">
              </select>
              活动地点：<input type="text" class="form-control"id="address_detail" readonly = "readonly">
              活动时间：<input type="date" class="form-control"id="date_detail" readonly = "readonly">
              备注：<textarea class="form-control"  rows = "3" id="tips_detail"style="resize: vertical" readonly = "readonly"></textarea> 
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
            </form>
          </div>
          
      </div><!-- /.modal-content -->
  </div><!-- /.modal -->


</div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script>
      function get_activity_details(activity_id)
      {
        var http_request = new XMLHttpRequest();
        var url = ".//details//?activity_id="+activity_id;
      
        http_request.timeout = function()
        {
          alert("网络超时");
        }
        http_request.responseType = "json" ;
        http_request.open('GET',url);
        http_request.send();
        http_request.onreadystatechange = function()
        {
          if(http_request.readyState == 4 && http_request.status ==200)
          {
            var details = JSON.parse(http_request.responseText);
            document.getElementById("theme_detail").value =   details['theme'];
            document.getElementById("org_detail").value =     details['org'];
            document.getElementById("address_detail").value = details['address'];
            document.getElementById("date_detail").value =    details['date'];
            document.getElementById("tips_detail").value =    details['tips'];
            alert("chengg");
          }
          alert(http_request.readyState);
          alert(http_request.status);
        }
      }
      function formsubmit()
      {
        var theme = document.getElementById("theme");
        var address = document.getElementById("address");
        var date = document.getElementById("date");

        if(theme.value.length == 0)
        {
          alert("请填写主题");
          theme.focus();
          return false;
        }
        if(org.value.length == 0)
        {
          alert("请选择社团");
          org.focus();
          return false;
        }
        if(address.value.length == 0)
        {
          alert("请填写地址");
          address.focus();
          return false;
        }
        if(date.value.length == 0)
        {
          alert("请填写日期");
          date.focus();
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>