<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}}的主页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
      .td1
      {
        width: 150px;
      }
      .td2
      {
        width: 700px;
      }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo/">
                <img src="..{{MEDIA_URL}}{{img}}" alt="" class="avatar">
                </a>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li><a href="../userpage/">个人信息</a></li>
                  <li ><a href="../myclub/">我的社团</a></li>
                  <li class="active"><a href="../mybulletin/">公告通知</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li><a href="../myactivity/">活动中心</a></li>
                  <li><a href="../passwd/">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
      <div class="page-header" style="margin-left: 150px">
        <h1>我的公告</h1>
      </div>
        {%if not have_announcement%}
        <div class="page-header" style="margin-left: 150px">
        <h2>没有公告</h2>
      </div>
        {% endif %}
      <div class="panel-group" id="accordion" style="margin-left: 150px;width: 1000px">
        {%for announcement in announcements%}
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#{{announcement.tilte}}">
                      {{announcement.tilte}}
                      </a>
                      <span style="float: right;">{{announcement.date}}<span>
                  </h4>
              </div>
              <div id="{{announcement.tilte}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                    {{announcement.content}}
                  </div>
              </div>
          </div>
          {% endfor %}
       
      </div>

    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
  </body>
</html>