<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}}的主页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
      .td1
      {
        width: 150px;
      }
      .td2
      {
        width: 400px;
      }
      .td3
      {
        width: 150px;
      }
      .td4
      {
        width: 150px;
      }
      .td5
      {
        width: 150px;
      }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="../index/">Home</a></li>
            
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的社团</a>
                        <ul class="dropdown-menu">
                          <li><a href="../searchclub/">加入社团</a></li>
                          <li><a href="../createclub/">创建社团</a></li>
                          <li><a href="../myclub/">管理社团</a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心</a>
                        <ul class="dropdown-menu">
                          <li><a href="../userpage/">我的信息</a></li>
                          <li><a href="../updateuserinfo/">修改信息</a></li>
                          <li><a href="../passwd/">修改密码</a></li>
                        </ul>
                      </li>
            <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo/">
                <img src="..{{MEDIA_URL}}{{user_logo}}" alt="" class="avatar">
                </a>
                <br>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li><a href="../userpage/">个人信息</a></li>
                  <li class="active"><a href="../myclub/">我的社团</a></li>
                  <li><a href="../mybulletin/">公告通知</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li><a href="../passwd/">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
      <div class="page-header" style="margin-left: 150px">
        <h1>我的社团</h1>
      </div>

      <div class="panel-group" id="accordion" style="margin-left: 150px;width: 1000px">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseOne">
                      我加入的社团
                      </a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      {%if not hasjoinedclub%}
                      还没有加入任何社团
                      {%endif%}
                      <table class="table">

                          {%for club in joinedclubs%}
                          <tr>
                              <td class = "td1"><img style="width:100px;height:100px;"  src="..{{MEDIA_URL}}{{club.org_logo}}">{{club.organization_name}}</td>
                              <td style="width: 600px">{{club.description}}</td>
                              <td class = "td4">&nbsp;</td>
                              <td class = "td5">

                                <br>
                                <a class="btn btn-ghost" href="../clubpage/?iden={{club.organization_name}}">查看社团</a>
                              </td>
                          </tr>
                          {%endfor%} 
                      </table>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseTwo">
                      我管理的社团
                  </a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                  {%if not hasmanagedclub%}
                      还没有管理任何社团
                  {%endif%}
                  <table class="table">
                      {%for managedclub in managedclubs%}
                      <tr>
                          <td class = "td1"><img style="width:100px;height:100px;"  src="..{{MEDIA_URL}}{{managedclub.org_logo}}">
                          {{managedclub.organization_name}}</td>
                          <td style="width: 600px">{{managedclub.description}}</td>
                          <td class = "td4">&nbsp;</td>
                          <td class = "td5">
                              <a class="btn btn-ghost" href="../clubpage/?iden={{managedclub.organization_name}}">管理社团</a>
                          </td>
                      </tr>
                      {%endfor%} 
                  </table>
                  
              </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseThree">
                      我申请的社团
                      </a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                  {%if not hasappliedclub%}
                      还没有申请任何社团
                  {%endif%}
                  <table class="table">
                      <tr>
                          <td class="td1">社团头像</td>
                          <td class="td2">社团描述</td>
                          <td class="td3">申请时间</td>
                          <td class="td4">处理时间</td>
                          <td class="td5">当前状态</td>
                        </tr>
                      {%for appliedclub in appliedclubs%}
                      <tr>
                          <td class = "td1"><img style="width:100px;height:100px;"  src="..{{MEDIA_URL}}{{appliedclub.org_logo}}">{{appliedclub.organization_name}}</td>
                          <td class = "td2">{{appliedclub.description}}</td>
                          <td class="td3">{{appliedclub.apply_time}}</td>
                          <td class="td4">{{appliedclub.solve_time}}</td>
                          <td class = "td5">
                             {%if appliedclub.status == 0%}
                                  <span class="label label-primary">审核中……</span>
                                  
                                {%elif appliedclub.status == 1 %}
                                  <span class="label label-success">审核通过</span>
                                  
                                {%elif appliedclub.status == 2 %}
                                  <span class="label label-danger">失败</span>
                                  
                                {%elif appliedclub.status == 3 %}
                                  <span class="label label-default">已退出</span>
                                  
                                {%elif appliedclub.status == 4 %}
                                  <span class="label "  style="background-color:black;">被移出社团</span>
                                {% endif %}
                                <br>
                                <a class="btn btn-ghost" href="../clubpage/?iden={{appliedclub.organization_name}}">查看社团</a>
                          </td>
                      </tr>
                      {%endfor%} 
                  </table>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" 
                      href="#collapseFour">
                      我创建的社团
                      </a>
                  </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                  {%if not hascreatedclub%}
                      还没有创建任何社团
                  {%endif%}

                  <table class="table">                  
                    <tr>
                      <td class="td1">社团头像</td>
                      <td class="td2">社团描述</td>
                      <td class="td3">申请时间</td>
                      <td class="td4">处理时间</td>
                      <td class="td5">当前状态</td>
                    </tr>
                    {%for createdclub in createdclubs%}
                    <tr>
                        <td class = "td1"><img style="width:100px;height:100px;"  src="..{{MEDIA_URL}}{{createdclub.org_logo}}">{{createclub.organization_name}]</td>
                        <td class = "td2">{{createdclub.description}}</td>
                        <td class="td3">{{createdclub.apply_time}}</td>
                        <td class="td4">{{createdclub.solve_time}}</td>
                        <td class = "td3">
                           {%if createdclub.status == 0%}
                                  <span class="label label-primary">审核中……</span>
                                  
                                {%elif createdclub.status == 1 %}
                                  <span class="label label-success">审核通过</span>
                                  
                                {%elif createdclub.status == 2 %}
                                  <span class="label label-danger">失败</span>
                                  
                                {%elif createdclub.status == 3 %}
                                  <span class="label label-default">已退出</span>
                                  
                                {%elif createdclub.status == 4 %}
                                  <span class="label "  style="background-color:black;">被移出社团</span>
                                  
                                {% endif %}
                                <br>
                        </td>
                    </tr>
                    {%endfor%} 
                  </table>
                  </div>
              </div>
          </div>
      </div>

    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
  </body>
</html>