<!DOCTYPE html>
<html lang="en">
  <head>
    <title>修改密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
        .form-passwd
        {
            width: 400px;
            position: relative;
            left: 150px;
            top: 100px;
        }
        .form-control
        {
            margin-top: 20px;
        }
        .btn
        {
            margin-top:20px;
        }
        .alert-warning
        {
            display: none;
        }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                      <li><a href="../index/">Home</a></li>
            
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的社团</a>
                        <ul class="dropdown-menu">
                          <li><a href="../searchclub/">加入社团</a></li>
                          <li><a href="../createclub/">创建社团</a></li>
                          <li><a href="../myclub/">管理社团</a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心</a>
                        <ul class="dropdown-menu">
                          <li><a href="../userpage/">我的信息</a></li>
                          <li><a href="../updateuserinfo/">修改信息</a></li>
                          <li><a href="../passwd/">修改密码</a></li>
                        </ul>
                      </li>
            <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost">Logout</a></li>
          </ul>
        </div>
        
      </div>
      
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo">
                <img src="user_logo" alt="" class="avatar">
                </a>
                <br>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li><a href="../userpage/">个人信息</a></li>
                  <li><a href="../myclub/">我的社团</a></li>
                  <li><a href="../mybulletin/">公告通知</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li><a href="../myactivity/">活动中心</a></li>
                  <li  class="active"><a href="../passwd/">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
        <form class="form-passwd form-horizontal" action="./" method="POST" id="form_psd">
            {% csrf_token %}
                <h1 class="form-signin-heading">修改密码</h1>
                <label for="inputPassword" class="sr-only">原始密码</label>
                
                <input type="password" id="rawpsd" name="rawpsd" class="form-control" placeholder="原始密码" required autofocus  onfocus="clearwarning();">
                <div class="alert-warning" id="warning1">
                    原密码输入错误。
                </div>
                <label for="inputPassword" class="sr-only">新密码</label>
                <input type="password" id="newpsd" name="newpsd" class="form-control" placeholder="新密码" required  onfocus="clearwarning();">
                <label for="inputPassword" class="sr-only">确认新密码</label>
                <input type="password" id="cnewpsd" name="cnewpsd" class="form-control" placeholder="确认新密码" required  onfocus="clearwarning();">
                <div class="alert-warning" id="warning2">
                两次输入内容不一致！
                </div>
                <div class="alert-warning" id="warning4">
                    新密码与旧密码相同
                    </div>
                <div class="alert-warning" id="warning3">
                  密码中只能有字母，数字和下划线
                  密码长度必须在六位以上
                </div>
                {{error}}<br>
                <a class="btn btn-ghost " href="../userpage/">返回</a>
                <input type="button" class="btn btn-primary" value="确认修改" onclick="checkpsd();"> 
                
              </form>

    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        function checkpsd()
        {
            var rawpsd = document.getElementById("rawpsd").value;
            var newpsd = document.getElementById("newpsd").value;
            var cnewpsd = document.getElementById("cnewpsd").value;
            var illegal = /[^0-9a-zA-Z_]+/;
            if(newpsd.length<6 ||illegal.test(newpsd))
            {
              $("#warning3").css("display","block");
              return false;
            }
            if(newpsd != cnewpsd)
            {
                $("#warning2").css("display","block");
                return false;
            }
            else if(newpsd == rawpsd)
            {
              $("#warning4").css("display","block");
            }
            else
            {
              
              var content = "name=" + "{{name}}" +"\&pwsd="+rawpsd;
                            
              var http_request = new XMLHttpRequest();
              http_request.open('POST','../checkpswd/');
              http_request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              http_request.setRequestHeader("Content-type","application/x-www-form-urlencoded;application/json;charset=UTF-8");
              http_request.send(content);
              http_request.onreadystatechange = function()
              {
                if(http_request.readyState == 4)
                {
                  if( http_request.status == 200)
                  {
                    if(http_request.responseText == "True")
                    {
                        document.getElementById("form_psd").submit();
                    }
                    else
                    {
                      $("#warning1").css("display","block");
                      return false;
                    }
                  }               
                  else
                  {
                    alert("请求失败!请稍后重试");
                    return false;
                  }
                }
                else
                {
                    return false;
                }
              }
              http_request.ontimeout = function()
              {
                alert("网络超时,请检查网络后重试");
              }
            }
        }
        function clearwarning()
        {
          $("#warning2").css("display","none");
          $("#warning1").css("display","none");
        }
    </script>
  </body>
</html>