<!DOCTYPE html>
<html lang="en">
  <head>
    <title>更改个人信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
         .table
        {
            width: 800px;
            position: relative;
            color:black;
            left: 100px;
            font-size: 20px;
            
        }
        .col1
        {
            width: 100px;
        }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="probootstra-cta-button last"><a href="../logout/" class="btn btn-ghost">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo/" class="probootstrap-team">
                <img src="..{{MEDIA_URL}}{{img}}" alt="" class="avatar" id="photo2">
                <div class="probootstrap-team-info">
                    <h3>修改头像</h3>
                  </div>
                </a>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li class="active"><a href="../userpage/">个人信息</a></li>
                  <li><a href="../myclub/">我的社团</a></li>
                  <li><a href="../mybulletin/">公告通知</a></li>
                  <li><a href="../createclub/">创建社团</a></li>
                  <li><a href="../searchclub/">加入社团</a></li>
                  <li><a href="../myactivity/">活动中心</a></li>
                  <li><a href="../passwd/">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
            {% csrf_token %}
      
        <form class="" role= "form" enctype="multipart/form-data" action="./" name="change" method="POST">
            {% csrf_token %}
            <table class="table ">
                    <thead>
                        <td colspan="2"><h1>修改个人信息</h1></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <label for="lookbutton" id="lookbutton_t">
                                <img src="..{{MEDIA_URL}}{{img}}" alt="" class="img-circle avatar" id="photo1">
                                </label>
                                <input type="file" id="lookbutton" name="user_photo" accept="image/png, image/jpeg, image/jpg" onchange="showphoto(this);" class="btn" >
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">用户名</td>
                            <td class="col2">{{name}}</td>
                        </tr>
                        <tr>
                            <td class="col1">性别</td>
                            <td class="col2">
                                    {% if sex == 0 %}
                                    <select name="gender" class="form-control">
                                        <option value="0">保密</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                {% elif sex == 1 %}
                                    <select name="gender" class="form-control">
                                        <option value="1">男</option>
                                        <option value="0">保密</option>
                                        <option value="2">女</option>
                                    </select>
                                {% elif sex == 2 %}
                                    <select name="gender" class="form-control">
                                        <option value="2">女</option>
                                        <option value="0">保密</option>
                                        <option value="1">男</option>
                                    </select>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">生日</td>
                            <td class="c0l2">
                                <input type="date" name="birth_date" value="{{ birth_date }}" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">个性签名</td>
                            <td class="col2">
                                <textarea name="motto" id="" cols="50" rows="3" placeholder="请输入新的签名" value="{{ motto }}" class="form-control" style="resize: vertical"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-ghost" type="submit">确认修改</button>
                                <a class="btn btn-ghost" href = "../userpage/">返回</a>
                            </td>
                        </tr>
            </tbody>
        </form>
    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script>
            function showphoto(obj)
            {
                //预览头像
                var file = obj.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img1 = document.getElementById("photo1");
                    var img2 = document.getElementById("photo2");
                    img1.src = e.target.result;
                }
                reader.readAsDataURL(file);
                
            }


        </script>
  </body>
</html>