<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}}的主页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/styles-merged.css">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/css/individualcenter.css">
    <style>
        .table
        {
            width: 800px;
            position: relative;
            color:black;
            left: 100px;
            font-size: 20px;
            
        }
        .col1
        {
            width: 100px;
        }
    </style>
  </head>
  <body>
    
    <!-- Fixed navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar probootstrap-megamenu navbar-default probootstrap-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index" title="">Pikachu</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="probootstra-cta-button last"><a href="../logout" class="btn btn-ghost" data-toggle="modal" data-target="#signupModal">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--左侧导航-->
    <div class="navbar-left">
            <div class="userbox">
                <a href="../updateuserinfo" class="probootstrap-team">
                <img src="..{{MEDIA_URL}}{{img}}" alt="" class="avatar">
                <div class="probootstrap-team-info">
                    <h3>修改头像</h3>
                  </div>
                </a>
                <span class="username">{{name|truncatewords:"15"}}</span>
            </div>
        <div style="position: relative;top:150px;">
                <ul class="nav nav-pills nav-stacked" >
                  <li class="active"><a href="../userpage">个人信息</a></li>
                  <li><a href="../myclub">我的社团</a></li>
                  <li><a href="../mybulletin">公告通知</a></li>
                  <li><a href="../createclub">创建社团</a></li>
                  <li><a href="../searchclub">加入社团</a></li>
                  <li><a href="#">活动申请</a></li>
                  <li><a href="#">修改密码</a></li>
                </ul>
        </div>
    </div>
    <div class="contextbox">
        <table class="table ">
            <thead>
                <td colspan="2"><h1>个人信息</h1></td>
                
            </thead>
            <tbody>
                <tr>
                    <td class="col1">用户名</td>
                    <td class="col2">{{name}}</td>
                </tr>
                <tr>
                    <td class="col1">性别</td>
                    <td class="col2">{{sex}}</td>
                </tr>
                <tr>
                    <td class="col1">生日</td>
                    <td class="c0l2">{{birt_date}}</td>
                </tr>
                <tr>
                    <td class="col1">个性签名</td>
                    <td class="col2">{{motto}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-ghost" href = "../updateuserinfo">修改个人信息</a>
                    </td>
                </tr>
            </tbody>
        </table>
    
    

    </div>
    <script src="../static/js/scripts.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
  </body>
</html>