<!DOCTYPE html>
<html>
    <head>
        <title>
        {{name}}的主页
        {#name变量填用户名#}
        </title>
        <style type="text/css">
        </style>
        <script>
            
        </script>
    </head>

    <body>
        <div>
            <div style="margin-top: 40px;margin-right: auto;margin-left: auto;width: 1180px;height: 600px;background-color: bisque ;">
                <!--头像，点击可修改头像-->
                <a href = "#"><img src="#" style="width: 60px ;height: 60px;border-radius: 100% ;overflow: hidden;"></a>
                <h1>{{name}}</h1>
                <p>个性签名：{{motto}}</p>
                <p>出生年月:{{year}} 年{{mon}} 月</p>
                <p>性别:{{sex}}</p>
            </div>
        </div>
    </body>
</html>